<% content_for :title, "集計" %>

<%= turbo_stream_from "summaries" %>

<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">集計</h1>
  </div>

  <div class="flex">
    <div class="flex-1">
      <%= render "summaries_table", candidates: @candidates %>
    </div>
    <div class="flex-none" data-controller="summaries">
      <%= render "chart_data", candidates: @candidates %>
      <div data-summaries-target="chart" class="w-96"></div>
    </div>
  </div>
</div>
