<div data-controller="my-component">
  <h1 class="font-bold text-4xl">Pages#about</h1>

  <p>
    <span class="my-component-class">React (</span>
    <input type="number" data-my-component-target="input" name="dummy" value="10" class="w-8" />
    <span class="text-[#00ffff]">) Rails</span>
  </p>

  <div data-my-component-target="button" class="contents">Loading...</div>
</div>

<div data-controller="chart"></div>
